body {
    background: lightblue;
    margin: 0;
    padding: 0;
}

.login-div {
    width: 350px;
    margin: 0 auto;
    padding-top: 150px;
}

.login-div h1 {
    margin-left: 50px;
}

#login-form input {
    width: 300px;
    height: 35px;
}

#login-form span {
    color: red;
    font-size: 15px;
}

.login-submit {
    background: green;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: none;
}