body {
    margin: 0;
    padding: 0;
    background: #e7eee0;
}

/*顶部banner背景图*/
.main-header {
    background-image: url(/image/banner.jpg);
    background-repeat: repeat;
    background-size: 100% 40%;
    -moz-background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    line-height: 0;
    height: 180px;
    width: 100%;
}

.main-header .header-box {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

.main-header .header-branding {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}

.main-header .header-branding span {
    position: relative;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    font-family: Castellar;
}

.logo {
    margin-top: 30px;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
}

/*导航栏*/
.nav-bar {
    background: #ffffff;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    border-bottom: solid silver 1px;
    z-index: 1;
}

.head ul {
    display: table;
    list-style: none;
    position: relative;
    margin: 0 auto;
}

.head ul li {
    float: left;
    font-size: 16px;
    margin-right: 55px;
}

.head ul li a {
    text-decoration: none;
    color: black;
}

/*博客列表和侧边栏*/
.main {
    position: relative;
    margin: 0px auto;
    display: table;
    padding-top: 30px;
}

.main hr {
    border: 1px #e3e3e3 solid;
}

.blog-split {
    height: 20px;
    width: 110%;
    background: #e7eee0;
    margin-left: -20px;
}

.clear {
    clear: both;
}

#current {
    color: red;
}

/*页脚*/
.footer {
    padding: 10px;
    color: white;
    background: black;
}

.footer p a {
    text-decoration: none;
    margin-right: 10px;
    color: lightgreen;
}

.main-left {
    min-width: 250px;
    max-width: 300px;
    float: left;
}

.latest {
    min-width: 250px;
    max-width: 800px;
    margin-left: 30px;
    background: #ffffff;
    float: left;
    /*padding: 6px;*/
    padding-top: 10px;
}

.by-category {
    background: #ffffff;
    padding: 6px;
    padding-top: 10px;
}

.latest .latest-span {
    float: left;
    margin-left: 6px;
}

.by ul {
    list-style: none;
    margin-left: 20px;
    padding: 0px;
}

.by ul li {
    margin-bottom: 5px;
}

.by ul li a {
    text-decoration: none;
    color: #6b6b6b;
}

.by ul li :hover {
    color: blue;
}

.by p img {
    vertical-align: middle;
}

.search-box {
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-box #search-text {
    height: 26px;
    border: 1px solid gray;
    vertical-align: middle;
    background: white;
    color: black;
}

.search-box input {
    height: 25px;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.by-date {
    margin-top: 20px;
    background: #ffffff;
    padding: 6px;
    padding-top: 10px;
}

.mini-title {
    font-weight: bold;
}

.blog {
    color: black;
    background: white;
    padding: 10px;
    padding-top: 1px;
    margin-left: -10px;
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.blog p {
    color: gray;
    font-size: 13px;
}

.blog img {
    height: 100px;
    margin-right: 10px;
}

.blog hr {
    border: 1px #e3e3e3 solid;
}

.page ul .wider {
    width: 40px;
}

.page ul li {
    float: left;
    border: 1px solid gray;
    margin-right: 8px;
    width: 30px;
    height: 25px;
    background: white;
    cursor: pointer;
    text-align: center;
}

.page ul li a {
    color: black;
}

.page ul .cur-page {
    background: black;
    border: 1px solid white;
}

.page ul .cur-page a {
    color: white;
}

.row-container {
    min-width: 250px;
    max-width: 1000px;
    margin-top: 10px;
    padding: 0px;
}

.class-item {
    background: silver;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

.row-left .class-item:hover {
    background: gray;
}

.sort-blog ul {
    padding: 0px;
}

.sort-blog li {
    float: left;
    padding: 5px;
    font-size: 17px;
    color: white;
    background: black;
    border: solid 1px gray;
    cursor: pointer;
}

.sort-blog .cur {
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

.sort-blog {
    margin-bottom: 30px;
}

.sort-blog li:hover {
    background: gray;
}

.sort-blog .cur:hover {
    background: white;
}

.person-info ul {
    list-style: none;
}

.person-info ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.experience ul li {
    font-size: 17px;
    margin-bottom: 10px;
}

.twoDCode {
    float: left;
}

.rowElem {
    margin-bottom: 10px;
}

.rowElem input {
    border: 1px solid #e3e3e3;
    width: 300px;
    height: 30px;
}

.rowElem textarea {
    border: 1px solid #e3e3e3;
    resize: none;
}

.message {
    float: right;
    margin-right: 80px;
}

.message button {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    margin-right: 20px;
    font-size: 17px;
    color: white;
    background: black;
}

.contact-info li {
    margin-bottom: 10px;
}

.article {
    margin-bottom: 30px;
    padding: 20px;
    font-size: 16px;
    overflow: auto;
}

.article-wrap {
    overflow: auto;
}

.remark-div {
    /*float: right;*/
    /*min-width: 800px;
    max-width: 900px;*/
    background: #ffffff;
    padding: 6px;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 8px;
}

.oauth-login-logo {
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;
}

.user-icon {
    width: 40px;
    height: 40px;
}

.user-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    cursor: pointer;
}

#remark-text {
    resize: none;
    width: 700px;
    height: 120px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.remark-btn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: green;
    color: white;
    font-size: 18px;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 10px;
}

.remark-list {
    list-style: none;
    margin-left: -10px;
}

.remark-list li {
    margin-bottom: 30px;
}

.remark-list li img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    cursor: pointer;
}

.remark-list li div {
    margin-left: 45px;
    border: 1px solid white;
    padding: 10px;
    background: #e3e3e3;
    width: 600px;
}

.remark-list li small {
    color: gray;
}

.remark-list li a {
    text-decoration: none;
    color: black;
}
